body {
    background-color: #ffffff;
    padding: 0 15%;
    margin: 0;
    line-height: 1.6;
    
   
}

#Heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}


#Subsidies{
  font-weight: bolder;
  color: #333;
}
#wrapper {
  padding-top: 5%;  
}


.diesel-line {
  fill: none;
  stroke: rgb(4, 4, 68);
  stroke-width: 2;
  
}

.petrol-line {
  fill: none;
  stroke: red;
  stroke-width: 2;
}

.tooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

@media screen and (max-width: 600px) {
  body{
    padding: 0 5%;
    text-align: center;
    font-size: 0.9rem;
  }

  #Heading {
    font-size: 1.5rem;
  }

  ul, p, h3 {
    text-align: justify;
  }

  #wrapper {
    padding-top: 10px;  
  }

  
}